nav{
    /* Frame 2 */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 18px 64px;
gap: 10px;

width: 100%;
height: 50px;

background: rgba(0, 5, 99, 0.48);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

flex: none;
order: 0;
flex-grow: 0;
}
/* Fuente Regular */

.contenedorTodo{
    /* Frame 10 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 146px;

width: 1312px;
height: 54.13px;
color:#FDFDE0;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.item{
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #FDFDE0;
}
.plus{
    /* Frame 7 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 54px;

width: 654px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

body{
    margin:0px;
    /**//**/
    display: flex;
width: 1440px;
height: 1024px;
flex-direction: column;
align-items: center;
font-size: 18px;
background: linear-gradient(0deg, #FDFDE0 0%, #FDFDE0 100%), #FFF;
}
.contenedorLogo{
    /* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 7px;
color:#000563;
width: 125.97px;
height: 54.13px;

/**//**/
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin-left: 64px;
font-size: 16px;
}
.ctaplus{
    /* Frame 9 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 156px;

width: 1040px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.cta{
    display: flex;
width: 230px;
height: 50px;
padding: 13px 23px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
background: #000563;
color:#FDFDE0;
font-size: 18px;
}

h1,h2{
    margin: 0;
}

.mainContent{
    display: flex;
    width: 1312px;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 64px;
}
.contacto{
    display: flex;
    width: 289px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
}
.contacto div{
    display: flex;
width: 265px;
flex-direction: column;
align-items: flex-start;
}

.contacto h1{
    height: 92px;
align-self: stretch;

color: #000563;
/**//**/
font-size: 55px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.mainContent h2{
    height: 36px;
align-self: stretch;

color: #000;
/**//**/
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.inputcta{
    display: flex;
    width: 885px;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    flex-shrink: 0;
}

.inputs{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
}
.inputcont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.inputs input{
    height: 80px;
    align-self: stretch;

    border-radius: 10px;
border: 2px solid #EAEAEA;
background: #FFF;
}
.mensajeInput{
    height: 185px;
    align-self: stretch;
    border-radius: 10px;
border: 2px solid #EAEAEA;
background: #FFF;
}
